    /* Všechno */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
    text-decoration: none;
}
body {
    background-color: #121013;
    background-image: url(background.png);
    top: 50%;
    text-shadow: 0 0 30px #ca1414;
    color: #e22020;
    display: block;
    animation: animate-bg 30s ease-in-out alternate infinite;
}
@keyframes animate-bg {
0% {
    background-position: 0% 0%;
}
50% {
    background-position: 5% 5%;
}
100% {
    background-position: 0% 0%;
}
}
/* Counter */

    h1 {
        text-align: center;
        font-weight: 400;
        margin-top: 150px;
    }
    @media screen and (max-width: 600px) {
        #countdown {
            margin: auto;
            max-width: 450px;
            font-size: 90px;
            text-align: center;
        }

        #oznameni {
            width: 450px;
        }

    }
    @media screen and (min-width: 600px) {
        #countdown {
            font-size: 90px;
            text-align: center;
        }

        #oznameni {
            max-width: auto;
        }
    }
    h2 {
        text-align: center;
        font-weight: 100;
        font-style: italic;
    }



    #goals{
        margin-top: 150px;
    }
    h3 {
        margin-top: 20px;
        margin-left: 100px;
        font-weight: 300;
    }
    p {
        margin-left: 150px;
        font-weight: 100;
        font-style: italic;
        font-size: 20px;
    }
    p2{
        opacity: 0;
        font-style: italic;
        transition: 0.1s ease-in-out;
        text-decoration: none;
        color: #e22020;
        cursor: pointer;
    }
    a{
        opacity: 0;
        font-style: italic;
        transition: 0.1s ease-in-out;
        text-decoration: none;
        color: #e22020;
        cursor: pointer;
    }
    p:hover p2{
        opacity: 1;
        transition: 0.1s ease-in-out;
    }
    p:hover p1{
        opacity: 0;
        transition: 0.1s ease-in-out;
    }
    p:hover a{
        opacity: 1;
        transition: 0.1s ease-in-out;
    }

/* Oznámení */
    #oznameni {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.61);
        border-radius: 20px;
        box-shadow: 0 0 20px rgb(0, 0, 0);
        z-index: 9999;
    }
  
    #oznameni p {
        color: #fff;
        font-style: normal;
        text-shadow: none;
        text-align: center;
        margin: auto;
    }

    #oznameni h1 {
        color: #ff0000;
        font-style: normal;
        text-shadow: none;
        text-align: center;
        margin: auto;
    }

    #oznameni.zobrazit {
        display: block;
        animation: vyjeti 0.5s forwards;
    }

    #oznameni.zavrit {
        animation: zajeti 0.5s forwards;
    }

    #zavrit {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #5a545477;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    #zavrit x {
        color: #fff;
        text-shadow: none;
        margin: auto;
    }

    @keyframes vyjeti {
        from {
        bottom: -100px;
        }
        to {
        bottom: 20px;
        }
    }

    @keyframes zajeti {
        from {
        bottom: 20px;
        }
        to {
        bottom: -100%;
        }
    }